<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ParsnipDb" connectionString="Server=192.250.231.22;Database=vamon112_theparsnip_test;Uid=vamon112_theparsnip_test;Password=Fz^kfdbNP5L1t$k@" />
  </connectionStrings>
  <appSettings>
    <add key="WebsiteUrl" value="test.theparsnip.co.uk" />
    <add key="FtpUrl" value="ftp://192.250.231.22" />
    <add key="FtpUsername" value="media_processor" />
    <add key="FtpPassword" value="qo86CXfuBpku43dfhBR1" />
    <add key="RemoteImagesDir" value="Resources/Media/Images/Uploads" />
    <add key="RemoteVideosDir" value="Resources/Media/Videos" />
    <add key="Tags" value="1908_Drago4_0brightness_TheRange" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>